body {
    background-color: #ABE8F5;
}

/* Mobile Media Query*/
@media screen and (max-width:799px) {
    h1{
        color:#618EFF;
        font-size:32px;
    }
    h2{
        color:#618EFF;
        font-size:24px;
    }
    
    .card{
        display: flex;
        flex-direction: column;
        text-align: center;

        width:200px;
        height:200px;
    }

    .cardBody{
        display: flex;
        align-items: center;
    }

    .seperator{
        height: 167px;
        width:165px;
        background-color: #FFF153;
        text-align: center;
    }

    .sideButtons{
        height: 87px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .sideButtons button{
        width:28px;
        height:30px;
        display: block;
        border: none;
    }
}

/* Tablet Media Query*/
@media screen and (min-width:800px) and (max-width: 1199px){
    h1{
        color:#618EFF;
        font-size:38px;
    }
    h2{
        color:#618EFF;
        font-size:36px;
    }

    #tasks {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 199px;
        height: 218px;
    }

    .cardBody {
        display: flex;
        align-items: center;
    }

    .seperator {
        height: 167px;
        width: 165px;
        background-color: #FFF153;
        text-align: center;
    }

    .sideButtons {
        height: 89px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .sideButtons button {
        width: 32px;
        height: 32px;
        display: block;
        border: none;
    }
}

/* PC Media Query*/
@media screen and (min-width: 1200px){
    h1{
        color:#618EFF;
        font-size:64px;
    }

    h2{
        color:#618EFF;
        font-size:48px;
    }
    
    .card{
        width: 303px;
        height:294px;
        text-align: center;
        display: inline-block;
    }

    .seperator{
        background-color: #FFF153;
        text-align: center;
        width:262px;
        height:224px;
    }

    

    .cardBody{
    display: flex;
    align-items: center;
    }

    .sideButtons{
        height: 105px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .sideButtons button{
        width:40px;
        height:42px;
        display: block;
        border: none;
    }
}

#addButton{
    color:#618EFF;
    border: none;
    background-color: transparent;
}


