@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Iceland&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #ABE8F5;;
}

.SLbody{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mobile Media Query*/
@media screen and (max-width:799px) {
    h1{
        font-size:32px;
        font-family: "Libre Baskerville";
    }
    h2{
        font-size:24px;
    }

    .paragraph1{
        font-size: 16px;
        font-family: "Libre Baskerville";
    }
    
    .card{
        display: flex;
        flex-direction: column;
        text-align: center;

        width:200px;
        height:200px;
    }

    .cardBody{
        display: flex;
        align-items: center;
    }

    .seperator{
        height: 167px;
        width:165px;
        background-color: #FFF153;
        text-align: center;
    }

    .sideButtons{
        height: 87px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .sideButtons button{
        width:28px;
        height:30px;
        display: block;
        border: none;
    }


    .title{
        background-color: #618EFF;
        height: 72px;
        width: 335px;
        color:white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .LSinfo{
        background-color: #FFFB91;
        height:459px;
        width:335px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .LSinfo button{
        color:#FFFFFF;
        background-color: #618EFF;
        border: 1px solid black;
        border-radius:10px;
        height: 33px;
    }

    .LSinfo label{
        color:#A8A8A8;
        text-align: left;
    }

    .LSinfo input{
        background-color: #FFFBFB;
        border:1px solid black;
        border-radius: 10px;
        width:296px;
        height: 23px;
        padding-left:10px
    }

    #login{
        width:181px;
    }
}

/* Tablet Media Query*/
@media screen and (min-width:800px) and (max-width: 1199px){
    h1{
        font-size:38px;
        font-family: "Libre Baskerville";
    }
    h2{
        font-size:36px;
    }

    .paragraph1{
        font-family: "Libre Baskerville";
        font-size: 20px;
    }

    #tasks {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 199px;
        height: 218px;
    }

    .cardBody {
        display: flex;
        align-items: center;
    }

    .seperator {
        height: 167px;
        width: 165px;
        background-color: #FFF153;
        text-align: center;
    }

    .sideButtons {
        height: 89px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .sideButtons button {
        width: 32px;
        height: 32px;
        display: block;
        border: none;
    }


    .title{
        background-color: #618EFF;
        height: 79px;
        width: 487px;
        color:white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .LSinfo{
        background-color: #FFFB91;
        height:586px;
        width:487px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .LSinfo button{
        color:#FFFFFF;
        background-color: #618EFF;
        border: 1px solid black;
        border-radius:10px;
        height:42px;
    }

    .LSinfo label{
        color:#A8A8A8;
        text-align: left;
    }

    .LSinfo input{
        background-color: #FFFBFB;
        border:1px solid black;
        border-radius: 10px;
        width:414px;
        height: 42px;
        padding-left:10px
    }

    #login{
        width:216px;
    }
}

/* PC Media Query*/
@media screen and (min-width: 1200px){
    h1{
        font-size:64px;
        font-family: "Libre Baskerville";
    }

    h2{
        font-size:48px;;
    }

    .paragraph1{
        font-size: 24px;
        font-family: "Libre Baskerville";
    }
    
    .card{
        width: 303px;
        height:294px;
        text-align: center;
        display: inline-block;
    }

    .seperator{
        background-color: #FFF153;
        text-align: center;
        width:262px;
        height:224px;
    }
    .cardBody{
    display: flex;
    align-items: center;
    }

    .sideButtons{
        height: 105px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .sideButtons button{
        width:40px;
        height:42px;
        display: flex;              /* added */
        align-items: center;        /* added  */
        justify-content: center;    /* added */
        border: none;
        padding: 0;                 /* added */
    }

    .sideButtons button img{
        width: 20px; /* added */
        height: 20px; /* added  */
        object-fit: contain; /* added */
    }


    .title{
        background-color: #618EFF;
        height: 106px;
        width: 676px;
        color:white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .LSinfo{
        background-color: #FFFB91;
        height:638px;
        width:676px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .LSinfo button{
        color:#FFFFFF;
        background-color: #618EFF;
        border: 1px solid black;
        border-radius:10px;
        height:42px;
    }

    .LSinfo label{
        color:#A8A8A8;
        text-align: left;
    }

    .LSinfo input{
        background-color: #FFFBFB;
        border:1px solid black;
        border-radius: 10px;
        width:414px;
        height: 42px;
        padding-left:10px
    }

    #login{
        width:285px;
    }
}

#addButton{
    color:#618EFF;
    border: none;
    background-color: transparent;
}


